.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .display-flex {
    display: flex;
  }
  
  header {
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    justify-content: right;
  }
  
  header .logo {
    font-size: 17px;
    background-color: gray;
    width: 50px;
    border-radius: 10px;
  }
  
  header .nav a {
    color: black;
    display: block;
    margin: 0;
    padding: 5px;
  }
  
  .footer {
    padding: 20px;
    background-color: lightcyan;
  }
  
  header.dayMode {
    background-color: lightcyan;
  }
  
  header.nightMode {
    background-color: bisque;
  }
  
  .nav-mid {
    background-color: aqua;
    height: 70vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
  }
  
  .hero {
    padding: 20px;
    background-color: forestgreen;
  }
.card {
margin-left: 10px;
margin-top: 5px;
}
  .card-img {
    width: 200px;
    height: 200px;
    margin-bottom: 12px;
    object-fit: cover;
    border-radius: 20px;
  }
 
  
 